---
title: The Archive
---

<nav class="archive">
  {% for post in site.posts %}
    
    {% assign nextYear = post.date | date: "%Y" %}
    {% assign nextMonth = post.date | date: "%B" %}

    {% if nextYear != currentYear %}
      <div>
        <p class="archive-year">{{ nextYear }}</p>
      </div>

      <hr/>
      
      {% assign currentYear = nextYear %}
    {% endif %}

    {% if nextMonth != currentMonth %}
      <div>
        <p class="archive-month">{{ nextMonth }}</p>
      </div>
      {% assign currentMonth = nextMonth %}
    {% endif %}

    <a href="{{ post.url }}">

      <div class="archive-day">
        <p>{{ post.date | date: "%d"}}</p>
      </div>

      <div class="archive-title">
        <p> {{ post.title }} </p>
      </div>
    </a>
  {% endfor %}
</nav>
