// Color
$c-bg             : white
$c-bg-light       : hsl(0,0%,97%);
$c-text           : hsl(0, 0, 25%)
$c-highlight      : #BDEAEE

// Font
$f-family         : Source Sans Pro, Helvetica, Arial, clean, sans-serif
$f-mono           : Consolas, monaco, monospace
$f-size           : 14px
$f-lineheight     : 24px
$f-weight-normal  : 400
$f-weight-light   : 300
$f-style          : normal
$f-scale-s        : 0.889
$f-scale-m        : 1.2
$f-scale-l        : 1.4
$f-scale-xl       : 1.6
$f-scale-xxl      : 2.2

// Content width
$w-narrow         : 9rem
$w-regular        : 18rem
$w-wide           : 24rem
