---
---
@import typography/type.sass
@import typography/settings.sass
@import reset.sass
@import variables.sass

// General
html, body
    height: 100%
    margin: 0
    background-color: $c-bg

body
    display: flex
    flex-direction: column
    justify-content: space-between

    padding: 0 1.5rem 0
    color: $c-text
    margin-right: auto
    margin-left: auto
    max-width: $w-regular
    +aku-type(normal)

main
    padding-top: 4rem
    flex: 1

h1
    +aku-type(large)
    text-align: left
    margin-bottom : 2rem
    font-weight: 400

h2
    +aku-type(medium)
    margin-bottom : 1rem
    text-align: center
    font-weight: 400

p
    +aku-type(normal)
    margin-bottom: 1rem

hr
    height: 2px
    border: none
    margin-top: 2rem
    margin-bottom: 2rem
    background: $c-bg-light
    width: 100%

@media (min-width: 800px)
    hr
        width: $w-narrow


em 
    font-style: italic

// Header
header
    margin-bottom: 2rem

.pg-title
    +aku-type(xlarge)
    text-transform: uppercase
    letter-spacing: 0
    text-align: center
    font-weight: 500
    margin-bottom: 0.5rem

.header-nav
    +aku-type(normal)
    font-weight: $f-weight-normal


    a
        background-image: linear-gradient($c-highlight, $c-highlight)
        background-repeat: no-repeat
        background-position: 0% 100%
        background-size: 100% 2px
        transition: background-size ease 0.5s

    a:hover
        background-size: 100% 100%
        transition: background-size ease 0.5s

    ul
        text-align: center
        li
            display: inline-block
            margin-right: 1rem

        li:last-child
            margin-right: 0rem

// ~ Text format --------------------------------------------------------------

// Image format

.img-wrapper
    margin-left: -1.5rem
    margin-right: -1.5rem
    margin-top: 2rem
    margin-bottom: 2rem
    max-width: $w-regular
    background-color: $c-bg-light

    img
        display: block
        width: 100%
        height: auto

@media (min-width: 800px)
    .img-wrapper
        margin-top: 3rem
        margin-bottom: 3rem
        margin-left: 0
        margin-right: 0

.text
    flex: 1 0 auto
    font-weight: $f-weight-light

    a
        font-weight: $f-weight-normal
        background-image: linear-gradient(to right, $c-highlight, $c-highlight)
        background-repeat: no-repeat
        background-position: 0% 100%
        background-size: 100% 2px
        transition: background-size 0.5s

    a:hover
        background-size: 100% 100%
        transition: background-size 0.5s

    blockquote
        font-style: italic
        border-left: 2px solid $c-bg-light
        padding-left: 0.75rem
        margin-bottom: 1rem

    div
        position: center

    ol, ul, dl
        margin-bottom: 1rem

    ul
        list-style-type: square
        list-style-position: inside


    @media (min-width: 600px)

        blockquote
            position: relative
            padding-left: 0.5rem
            left: -0.55rem

        ol, ul, dl
            list-style-position: outside


.text-footer
    margin-top: 2rem
    text-align: center


// Archive

.archive
    a
      text-decoration: none
      background-size: 0
      display: flex
      flex-direction: row

    a:hover
      background-size: 0

    hr
        margin-top: 0
        margin-bottom: 0

.archive-day
    min-width: 2rem
    width: 2rem

    p
        margin-bottom: 0
        +aku-type(small)

.archive-title
    width: 100%
    font-weight: $f-weight-light

    p
        margin-bottom: 0

.archive-year
    +aku-type(medium)
    font-weight: 400
    text-align: center
    margin-top: 1rem
    margin-bottom: 0

.archive-month
    font-weight: 400
    text-align: left
    margin-top: 1rem
    margin-bottom: 0rem


// Footer
footer
    +aku-type(large)
    padding-bottom: 3rem
    color: hsl(0, 0, 75)

    a i
        color: $c-text
        padding: 0 5px

    hr
        margin-bottom: 0.5rem

    ul
        text-align: center

        li
            display: inline-block
            margin-right: 85%

        li:last-child
            margin-right: 0rem

