<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Max Filter">

    <!-- Title -->
    <title> Max Filter {% if page.title %} | {{ page.title }} {% endif %} </title>

    <!-- Global Styles -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <main>
      {% include header.html %}

      <div class="text">
        <h1 class="text-title"> {{ page.title }} </h1>

        <div class="text-content">
          {{ content }}
        </div>
      </div>
    </main>

    {% if page.url == "/" or page.url contains "page" %}
      {% include footer.html %}
    {% else %}
      <footer></footer>
    {% endif %}

  </body>
</html>
